.success {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  max-width: 100%;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success div {
  font-size: 2em;
  font-family: "Roboto";
  text-transform: capitalize;
}

.success .MuiSvgIcon-root {
  animation-name: success;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: scale(0) translateY(-10px);
  align-self: center;
  color: teal;
  margin-bottom: 1em;
}

@keyframes success {
  0% {
    transform: scale(0) translateY(-10px);
  }
  100% {
    transform: scale(3) translateY(0px);
  }
}

.success a {
  color: white;
  font-family: "Roboto";
  border: none;
  padding: 0.4em 0.3em;
  font-size: 1.2em;
  text-decoration: none;
  background-color: black;
  text-align: center;
  width: 90%;
  align-self: center;
}
